<template>
  <div class="driver">
    <h3>Boston Project</h3>
    <hr>
    <div v-if="isAdmin" id="nav">
      <router-link to="/home">Cars</router-link> |
      <router-link to="/driver">Drivers</router-link> |
      <a @click="logout()">Logout</a>
    </div>
    <div v-else id="nav">
      <router-link to="/home">Cars</router-link> |
      <a @click="logout()">Logout</a>
    </div>
    <h3>Driver Register</h3>
    <hr />
    <div class="container">
      <div class="row">
        <form>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="name">Name</label>
            </div>
            <div class="col-md-8">
              <input
                id="name"
                v-model="form.name"
                type="text"
                name="name"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="birthdate">Birthdate</label>
            </div>
            <div class="col-md-8">
              <input
                id="birthdate"
                v-model="form.birthdate"
                type="date"
                name="birthdate"
                class="form-control"
              />
            </div>
          </div>
          <div class="text-center mt-4 form-group row">
            <div class="col">
              <button
                class="btn btn-success col-md-6"
                type="button"
                @click="addDriver()"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <hr />
      <h3>Driver List</h3>
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">BirthDate</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="driver in drivers" v-bind:key="driver">
            <td>{{ driver.name }}</td>
            <td>{{ driver.birthdate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import * as jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
  name: "Driver",
  data: function() {
    return {
      get isAdmin() {
        var isAdmin = false;
        var tokenDecoded = jwt_decode(localStorage.getItem("token"));
        if (tokenDecoded.account_type === "Admin") isAdmin = true;
        return isAdmin;
      },
      form: {
        name: "",
        birthdate: ""
      },
      fields: ["Name", "BirthDate"],
      drivers: [{
        name: '',
        birthdate: ''
      }]
    };
  },
  methods: {
    addDriver() {
      axios
        .post(`${process.env.VUE_APP_API_URL}/drivers/register`, this.form)
        .then(response => {
          // JSON responses are automatically parsed.
           axios
              .get(`${process.env.VUE_APP_API_URL}/drivers/`, this.form)
              .then(res => {
                this.drivers = res.data;
              })
          this.form = response.data;
        });
    },
    getDrivers(){
      axios
          .get(`${process.env.VUE_APP_API_URL}/drivers/`, this.form)
          .then(res => {
            this.drivers = res.data;
          });
    },
    logout(){
      localStorage.removeItem('token');
      this.$router.push("/");
    }
  },
  components: {},
  mounted: function(){
    this.getDrivers()
  }
};
</script>
<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
form {
  margin-left: 33%;
}
a{
  cursor: pointer;
}
</style>