<template>
  <!-- Default form login -->
  <div class="container">
    <h3>Boston Project</h3>
    <hr>
    <form class="form-login">
      <div class="card4">
        <h3>Forgot Password</h3>
        <hr>
        <div class="form-group">
          <label class="grey-text">Your email</label>
          <input
            v-model="form.email"
            type="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="text-center mt-4 form-group row">
          <div class="col">
            <button class="btn btn-success col-md-6" type="button" @click="onSubmit()">
              Forgot
            </button>
          </div>         
        </div>
      </div>
      
    </form>
  </div>
  <!-- Default form login -->
</template>

<script>
import axios from "axios";
export default {
  name: "Forgot",
  data() {
    return {
      form: {
        email: "",
        account_type: "",
        name: ""
      },
      infoSend:{
        token: ''
      }
    };
  },
  methods: {
    onSubmit() {
      axios
        .post(`${process.env.VUE_APP_API_URL}/login/user`, this.form)
        .then(response => {
          // JSON responses are automatically parsed.
          this.infoSend.token = response.data.token;
          axios
            .post(`${process.env.VUE_APP_API_URL}/forgot/`, this.infoSend)
            .then(()=> {
              // JSON responses are automatically parsed.
              this.$router.push("/");
            });
        });
    }
  }
};
</script>
<style>
.card4 {
  margin-top: 10%;
  width: 428px;
  height: 460px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
</style>
