<template>
  <div class="home">
    <h3>Boston Project</h3>
    <hr>
    <div v-if="isAdmin" id="nav">
      <router-link to="/home">Cars</router-link> |
      <router-link to="/driver">Drivers</router-link> |
      <a @click="logout()">Logout</a>
    </div>
    <div v-else id="nav">
      <router-link to="/home">Cars</router-link> |
      <a @click="logout()">Logout</a>
    </div>
    <h3>Car Register</h3>
    <hr />
    <div class="container">
      <div class="row">
        <form>
          <div class="form-group row">
            <div class="col">
              <label for="name">Car Plate</label>
            </div>
            <div class="col">
              <input
                id="name"
                v-model="form.plate"
                type="text"
                name="name"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="name">Car Model</label>
            </div>
            <div class="col">
              <select
                id="model"
                v-model="form.model"
                name="model"
                class="col-md-12 form-control"
              >
                <option>Mazda</option>
                <option>Chevrolet</option>
                <option>BMW</option>
              </select>
            </div>
          </div>
          <div class="text-center mt-4 form-group row">
            <div class="col">
              <button
                class="btn btn-success col-md-6"
                type="button"
                @click="addCar()"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <hr />
      <h3>Car List</h3>
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Plate</th>
            <th scope="col">Model</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="car in cars" v-bind:key="car">
            <td>{{ car.plate }}</td>
            <td>{{ car.model }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import * as jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
  name: "home",
  data: function() {
    return {
      get isAdmin() {
        var isAdmin = false;
        var tokenDecoded = jwt_decode(localStorage.getItem("token"));
        if (tokenDecoded.account_type === "Admin") isAdmin = true;
        return isAdmin;
      },
      form: {
        plate: "",
        model: ""
      },
      fields: ["Plate", "Model"],
      cars: [{
        plate: '',
        model: ''
      }]
    };
  },
  methods: {
    addCar() {
      axios
        .post(`${process.env.VUE_APP_API_URL}/cars/register`, this.form)
        .then(response => {
          // JSON responses are automatically parsed.
           axios
              .get(`${process.env.VUE_APP_API_URL}/cars/`, this.form)
              .then(res => {
                this.cars = res.data;
              })
          this.form = response.data;
        });
    },
    getCars(){
      axios
          .get(`${process.env.VUE_APP_API_URL}/cars/`, this.form)
          .then(res => {
            this.cars = res.data;
          });
    },
    logout(){
      localStorage.removeItem('token');
      this.$router.push("/");
    }
  },
  components: {},
  mounted: function(){
    this.getCars()
  }
};
</script>
<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
form {
  margin-left: 33%;
}
</style>