<template>
  <!-- Default form login -->
  <div class="container">
    <h3>Boston Project</h3>
    <hr>
    <form class="form-login">
      <div class="card">
        <h3>Login</h3>
        <hr>
        <div class="form-group">
          <label class="grey-text">Your email</label>
          <input
            v-model="form.email"
            type="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="grey-text">Your password</label>
          <input
            v-model="form.password"
            type="password"
            id="password"
            class="form-control"
          />
        </div>
        <div class="form-group">        
          <router-link to="forgot">Forgot password?</router-link>
        </div>
        <div class="text-center mt-4 form-group row">
          <div class="col">
            <button class="btn btn-success col-md-6" type="button" @click="onSubmit()">
              Login
            </button>
          </div>
          <div class="col">
            <router-link to="register">signup?</router-link>
          </div>          
        </div>
      </div>
      
    </form>
  </div>
  <!-- Default form login -->
</template>

<script>
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit() {
      // this.$router.push('/home')
      axios
        .post(`${process.env.VUE_APP_API_URL}/login/login`, this.form)
        .then(response => {
          // JSON responses are automatically parsed.
          this.form = response.data;
          localStorage.setItem('token', response.data.token);
          this.$router.push("/home");
        });
    }
  },
  mounted() {
    
      console.log(process.env)
  }
};
</script>
<style>
.card {
  margin-top: 10%;
  width: 428px;
  height: 460px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
</style>
