<template>
  <!-- Default form login -->
  <div class="container">
    <h3>Boston Project</h3>
    <hr>
    <form class="form-login">
      <div class="card5">
        <h3>Recover Password</h3>
        <hr>
        <div class="form-group">
          <label class="grey-text">Your new password</label>
          <input
            v-model="form.password"
            type="password"
            id="password"
            class="form-control"
          />
        </div>
        <div class="text-center mt-4 form-group row">
          <div class="col">
            <button class="btn btn-success col-md-6" type="button" @click="onSubmit()">
              Reset Password
            </button>
          </div>         
        </div>
      </div>
      
    </form>
  </div>
  <!-- Default form login -->
</template>

<script>
import axios from "axios";
import * as jwt_decode from "jwt-decode";
export default {
  name: "Recover",
  data() {
    return {
      form: {
        email: "",
        password: "",
        account_type: "",
        name: ""
      }
    };
  },
  methods: {
    onSubmit() {
      axios
        .put(`${process.env.VUE_APP_API_URL}/recover/`, this.form)
        .then(() => {
          // JSON responses are automatically parsed.
          this.$router.push("/");
        });
    },
    getEmail(){
      var tokenDecoded = jwt_decode(this.$route.query.token);
      this.form.email = tokenDecoded.email;
      this.form.name = tokenDecoded.name;
      this.form.account_type = tokenDecoded.account_type;
    }
  },
  mounted: function(){
    this.getEmail()
  }
};
</script>
<style>
.card5 {
  margin-top: 10%;
  width: 428px;
  height: 460px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
</style>
