<template>
  <div class="container">
    <h3>Boston Project</h3>
    <hr />
    <form id="app" method="post" class="form-login">
      <div class="card2">
        <div class="form-group row">
          <div class="col">
            <h1>Register</h1>
          </div>
        </div>
        <hr />
        <div class="form-group row">
          <div class="col">
            <label for="name">Name</label>
          </div>
          <div class="col">
            <input
              id="name"
              v-model="form.name"
              type="text"
              name="name"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="email">email</label>
          </div>
          <div class="col">
            <input class="form-control" id="email" v-model="form.email" type="email" name="email" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="form.account_type">Account Type</label>
          </div>
          <div class="col">
            <select
              id="account_type"
              v-model="form.account_type"
              name="account_type"
              class="col-md-12 form-control"
            >
              <option>Admin</option>
              <option>Manager</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="pasword">Password</label>
          </div>
          <div class="col">
            <input
              id="password"
              v-model="form.password"
              type="password"
              name="password"
              class="form-control"
            />
          </div>
        </div>
        <hr>
        <div class="form-group">
          <input
            class="btn btn-success"
            type="button"
            value="Submit"
            @click="onSubmit()"
          />
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Register",
  data() {
    return {
      form: {
        email: "",
        name: "",
        password: "",
        account_type: ""
      }
    };
  },
  methods: {
    onSubmit() {
      axios
        .post(`${process.env.VUE_APP_API_URL}/login/register/`, this.form)
        .then(response => {
          // JSON responses are automatically parsed.
          this.form = response.data;
          if (this.form.status === 200) this.$router.push("/");
        })
    }
  }
};
</script>
<style>
.card2 {
  margin-top: 10%;
  width: 428px;
  height: 400px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
label {
  text-align: left;
}
</style>
